<nav id="nav">
  <ul class="links">
    <li><a href="./index.html">Home</a></li>
    <li><a href="./projects.html">Projects</a></li>
  </ul>
  <ul class="icons">
    <li>
      <a href="https://www.kaggle.com/sthuthyevangelinem/competitions">
        <img src="./images/kaggle.png" alt="Kaggle" style="width:24px; height:24px; vertical-align:middle;">
        <span class="label">Kaggle</span>
      </a>
    </li>
    <li><a href="https://github.com/SthuthyEva" class="icon brands fa-brands fa-github"><span class="label">GitHub</span></a></li>
    <li><a href="https://www.linkedin.com/in/sthuthy-evangeline-m-8b501b76/" class="icon brands alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
    <li><a class="icon fa-file-pdf" href="./assets/resume.pdf" download> Resume </a></li>
  </ul>
</nav>
